<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>酒店预订</title>
    <link rel="stylesheet" href="../src/js/widget/layer/need/layer.css">
    <link href="../src/css/common.css" rel="stylesheet">
    <link href="../src/css/pay.css" rel="stylesheet">
    <script src="../src/js/lib/jquery/jquery-2.2.0.min.js"></script>
    <script src="../src/js/lib/artTemplate/template.js"></script>
    <script src="../src/js/widget/layer/layer.js"></script>
    <script src="../src/js/lib/fastclick.js"></script>
    <script src="../src/js/util/common.js"></script>
    <script src="../src/js/util/webviewInterface.js"></script>
    <script src="../src/js/config.js"></script>
    <script src="../src/js/dbutil.js"></script>
    <script src="../src/js/hotel/room_booking.js"></script>
</head>
<body class="hotel_bookRoom">
<div class="container">
    <div id="roomBooking">
    <script id="template" type="text/html">
    <div class="scroller">
        <div class="bar_hbr">预订详情</div>
        <div class="top">
            {{if data.images.length>0}}
            <img src="{{data.images[0]}}" class="topLeft">
            {{/if}}
            <div class="topRight">
                <p class="hotelName">{{data.hotelName}}</p>
                <p>地址：{{data.hotelAddress}}</p>
            </div>
        </div>
        <ul class="timeList">
            <li>
                <span class="text">入住日期</span> <span class="time" ><span id="startTime"></span><span id="startWeek"></span></span>
            </li>
            <li>
                <span class="text">退房日期</span> <span class="time" ><span id="endTime"></span><span id="endWeek"></span></span>
            </li>
        </ul>
        <div class="hotelInfo">
            <p class="price">
                <span class="infoLeft">{{data.title}}</span> <span class="infoRight">¥<span id="onePrice">{{data.price}}</span></span>
            <div class="clear"></div>
            </p>
            <p class="item">
                <span>{{data.rules.Breakfast}}</span>
                <span>{{data.rules.WIFI}}</span>
                <span>{{data.rules.Broadband}}</span>
            </p>
            <p class="item">
                <span>床型大小： {{data.bedNum}}张{{data.bedName}} {{data.bedType}}㎡  </span>
            </p>
            {{if data.rules.GiftDes}}
            <p class="item">
                <span>礼品:{{data.rules.GiftUseDes}}</span>
            </p>
            {{/if}}
            {{if data.rules.GiftUseDes}}
            <p class="item">
                <span>礼品使用说明:{{data.rules.GiftUseDes}}</span>
            </p>
            {{/if}}
        </div>
        <div class="bar_hbr">房间数量</div>
        <ul class="amount">
            <li>
                <span class="room">{{data.title}}</span>
                <div class="rightAmount">
                    <a class="minus disabled" onclick="minus(this);">-</a>
                    <div id="num" class="box">1</div>
                    <a class="add" onclick="add(this);">+</a>
                </div>
            </li>
        </ul>
        <div id="Box">
            <div id="commonPeop" class="people passage">
                <div class="bar_hbr">房间</div>
                <div id="peopList" class="peopleName">
                    <!--<span class="name" onclick="selectPerson(this)" data-id=""></span>-->
                    <p id="labMore" class="peopleMore" onclick="showMore(this);"><a class="more">更多</a><span class="jiantou"></span></p>
                </div>
                <ul class="userList">
                   <li>
                       <p><span class="about-check-user">入住人姓名</span><input name="checkName" class="about-check-info" value=""></p>
                        <p><span class="about-check-user">身份证号码</span><input name="checkNo" class="about-check-info" value=""></p>
                   </li>
                </ul>
            </div>
        </div>
        <div class="bar_hbr">订单联系人</div>
        <ul class="userList">
            <li>
                <span class="userLeft">联系人姓名</span><input id="contact" value="">
            </li>
            <li>
                <span class="userLeft">联系电话</span> <input id="contactTel" placeholder="(预订成功后订单将发送到此号码)" >
            </li>
        </ul>
        <div class="bar_hbr">特殊要求</div>
        <ul class="userList">
            <li id="specialList" class="item">
                {{each data.SpecialRequireList as SpecialRequireList i}}
                <div class="require">{{SpecialRequireList}}</div>
                {{/each}}
            </li>
            <li>
                <textarea placeholder="备注" class="remark" id="remark"></textarea>
            </li>
        </ul>
        <div class="bar_hbr">发票</div>
        <ul class="userList">
            <li>{{data.hotelInvoice}}</li>
        </ul>
        <div class="bar_hbr">取消预订政策</div>
        <ul class="userList policyList">
            <li>
                <div class="policy">{{data.cancelPolicy}}</div>
            </li>
        </ul>
    </div>
    <input id="roomId" type="hidden" value="{{data.roomId}}"/>
   </script>
    </div>
    <div class="bottom_hbr">
        <div class="btn-write-small price_hbr" >
         	   总价：<span >¥<span id="total">0.00</span></span>
        </div>  
	    <div class="btn-orange-small pay_hbr" onclick="commitClick();">确认支付</div>
    </div>
</div>

</body>
</html>