<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=no">
    <title>门票预订2</title>
    <link rel="stylesheet" href="../src/css/reset.css">
    <link rel="stylesheet" href="../src/css/common.css">
    <link rel="stylesheet" href="../src/css/area/spot_ticket_list.css">
    <script src="../src/js/lib/jquery/jquery-2.2.0.min.js"></script>
    <script src="../src/js/lib/jquery/plugin/iscroll-probe.js"></script>
    <script src="../src/js/lib/fastclick.js"></script>
    <script src="../src/js/lib/artTemplate/template.js"></script>
    <script src="../src/js/util/pullIscroll.js"></script>
    <script src="../src/js/util/common.js"></script>
    <script src="../src/js/util/webviewInterface.js"></script>
    <script src="../src/js/area/search_common.js"></script>
    <script src="../src/js/area/spot_ticket_list.js"></script>
</head>
<body>
<div class="container">
    <!--</div>-->
    <!-- 筛选结果 -->
    <div class="screen-result">
        <div class="wrapper">
            <div clasws="scroller">
                <div class="pullDown">
                    <span>下拉刷新</span>
                </div>
                <div class="result-ul">
                    <script type="text/html" id="template">
                        {{each list as list i}}
                        <div class="result-li" onclick="detailClick(this)" data-url="spot_detail.html">
                            <div class="book-con">
                                <div class="book-con-left"><img src="../src/images/area/spot05.jpg" alt=""></div>
                                <div class="book-con-right">
                                    <p class="book-con-tit">{{list.title}}</p>
                                    <p class="book-num">
                                        已经售
                                        <num>{{list.salesNum }}</num>
                                        张
                                        {{if list.coupon }}
                                        <span class="book-quan">券</span>
                                        {{/if}}
                                        {{if list.discount }}
                                        <span class="book-zhe">折</span>
                                        {{/if}}
                                    </p>
                                </div>
                            </div>
                            <ul class="book-price">
                                {{each list.ticketType as item i}}
                                <li>
                                    <span class="price-tit">{{item.name}}</span>
                                    <span class="price-count">{{item.discount}}折</span>
                                    <div class="price-right">
                                        <span class="price-num"><num>&yen;</num>{{item.price}}</span>
                                        <del class="price-del">&yen;{{item.originalPrice}}</del>
                                    </div>
                                </li>
                                {{/each}}
                                <div class="ticket-more">
                                    <a href="">更多</a>
                                    <img src="../src/images/area/down.jpg" alt="">
                                </div>
                            </ul>
                        </div>
                        {{/each}}
                    </script>
                </div>
                <div class="pullUp">
                    <span>上拉加载更多</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>